<div class="flex">
  <mat-card class="ml-6 w-full max-w-sm shadow-lg rounded-lg bg-white">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="text-lg font-bold text-gray-800">
          Pesquisar preço
        </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <!-- Campo "Do" -->
      <div class="flex flex-col mt-2">
        <label for="from" class="text-sm font-semibold text-gray-700 mb-1">
          Do:
        </label>
        <input
          id="from"
          type="text"
          class="border border-gray-300 rounded-md p-2 text-sm w-full focus:ring-2 focus:ring-green-500 focus:outline-none"
          placeholder="São José"
        />
      </div>

      <!-- Campo "Até" -->
      <div class="flex flex-col mt-2">
        <label for="to" class="text-sm font-semibold text-gray-700 mb-1">
          Até:
        </label>
        <input
          id="to"
          type="text"
          class="border border-gray-300 rounded-md p-2 text-sm w-full focus:ring-2 focus:ring-green-500 focus:outline-none"
          placeholder="Centro"
        />
      </div>

      <!-- Botão Pesquisar -->
      <div class="flex justify-end mt-2">
        <button
          class="bg-green-600 text-white px-4 py-2 rounded-md text-sm font-semibold hover:bg-green-700 transition"
        >
          Pesquisar
        </button>
      </div>

      <div class="flex items-center mt-2">
        <span class="text-sm font-semibold text-gray-700 mr-2"> Valor: </span>
        <span class="text-lg font-bold text-green-600"> R$ 20,00 </span>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Aniversariantes -->
  <mat-card class="ml-6 w-full max-w-sm shadow-lg rounded-lg bg-white ">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="text-lg font-bold text-gray-800">
          Aniversariantes do mês
        </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let element of motoqueiros" class="flex items-center mt-2">
        <span class=" text-gray-700 mr-2">{{ element.apelido }}</span>
        <span class=" ml-8 text-gray-700"
          >{{ element.dataNascimento | date : "dd/MM" }}
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
